@font-face {
  font-family: Chillax-Variable;
  src: url("./resources/Chillax-Variable.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family:
    Chillax-Variable,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(248, 248, 248);
}

body {
  background-color: rgb(35, 34, 34);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    @include flex-column(1.5em);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(2rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

  section.view2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(0.2rem);

        small {
          opacity: 0.6;
        }
        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(2rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }

      .bottom > p {
        text-transform: uppercase;
      }
    }
  }

  section.view4 {
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;

    .card1 {
      width: 100%;
      border-radius: 0.7rem;
      background-image: url(./resources/person1.webp);
      aspect-ratio: 1/1;
      background-size: cover;

      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgba(83, 83, 83, 0.373);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        
        .icon{
          width: fit-content;
          border-radius: 50%;
        }
      }

      .bottom{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        p{
          text-transform: uppercase;
        }
      }

    }

    .card2 {
      width: 100%;
      border-radius: 0.7rem;
      background-image: url(./resources/person2.webp);
      aspect-ratio: 1/1;
      background-size: cover;

      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgba(83, 83, 83, 0.373);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        
        .icon{
          width: fit-content;
          border-radius: 50%;
        }
      }

      .bottom{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        p{
          text-transform: uppercase;
        }
      }

    }

    .card3 {
      width: 100%;
      border-radius: 0.7rem;
      background-image: url(./resources/person3.webp);
      aspect-ratio: 1/1;
      background-size: cover;

      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgba(83, 83, 83, 0.373);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        border-radius: 0.7rem;
        padding: 0.5rem;
      }

      .top{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        
        .icon{
          width: fit-content;
          border-radius: 50%;
        }
      }

      .bottom{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        p{
          text-transform: uppercase;
        }
      }

    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3rem;
            font-weight: 400;
          }

          p {
            width: 85%;
            font-size: 1.2rem;
            font-weight: 300;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;
    }

    section.view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          h1 {
            font-size: 3rem;
            font-weight: 400;
          }

          .paragraphs {
            display: flex;
            gap: 2rem;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }

    section.view4{
      flex-direction: row;
      padding: 1rem 4rem;
    }
  }
}
